@font-face {
    font-family: Outfit;
    src: url(../fonts/Outfit.ttf);
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slave-500: hsl(216, 15%, 48%);
    --slave-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: Outfit;
    background-color: var(--slate-300);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px;
    padding-bottom: 40px;
}

.qr {
    border-radius: 10px;
    overflow: hidden;
}

.main-text {
    margin-top: 24px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--slave-900);
    line-height: 120%;
    letter-spacing: 0;
}

.side-text {
    margin-top: 16px;
    text-align: center;
    color: var(--slave-500);
    line-height: 150%;
    letter-spacing: 0.2px;
}
