@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit.ttf);
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slave-500: hsl(216, 15%, 48%);
    --slave-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: Outfit;
    background-color: var(--slate-300);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 21.333em;
    height: 33.266em;
    background-color: var(--white);
    border-radius: 20px;
}
